<script>
  if (document.location.pathname.endsWith("press.html")) {
    document.location.href="/#press";
  }
</script>
<!-- Masthead-->
<header class="masthead shortmasthead">
  <div class="container h-25">
    <div class="col-lg-10 align-self-end">
      <h1 class="text-uppercase text-white font-weight-bold" data-i18n="[html]press_main_header">Press Release</h1>
    </div>
  </div>
  </div>
</header>
<!-- Press section-->
<section class="page-section" id="press">
  <div class="container">
    <h2 class="text-center text-primary mt-0" data-i18n="[html]presspage_intro_heading">Press Release</h2>
    <hr class="divider my-4"/>
    <div class="row">
      <h4 class="offset-2 col-8 text-white mt-2" data-i18n="[html]presspage_intro_text">Please open this PDF for the press release. Alternatively, below is the text of the general global press release.</h4>
      <div class="col-12 text-center">
        <a class="d-inline" id="pressReleaseLink" target="_blank" href="#"><i class="fas fa-file-pdf fa-3x mb-3 hoverLink"></i></a>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <h4 class="col-lg-12 text-white mt-2" data-i18n="[html]press_text_date">7 May 2020</h4>
    </div>
    <div class="row">
      <h4 class="col-lg-12 text-white mt-2" data-i18n="[html]press_text_header">New online tool advises people about their risk of contracting the coronavirus</h4>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p class="text-white mb-0" data-i18n="[html]press_text_body1">
          A group of about 150 international experts collaborated with an international team of experts to develop an online tool that allows people to calculate their risk of contracting and spreading the virus that causes COVID-19. Previously existing tools, including the Pandemic Footprint PFI, served as inspiration. As yet, existing initiatives did not yet provide fine-grained insight into why exactly people sometimes fail to adhere to the guidelines for keeping distance. However, this information is required to achieve behavior change.
        </p>
        <br/>
        <p class="text-white mb-0" data-i18n="[html]press_text_body2">
          Insights from behavioral science were used in developing the tool. First, users will obtain an estimate of their risk to contract or spread the virus. Three important risk factors will be addressed: hand hygiene, keeping sufficient distance in public places, and avoiding going out. Behavior takes center stage: what should you do, and what should you avoid? Based on their risk, users receive a recommendation to support the required behavior change. This way, they can minimize the risk to themselves and their loved ones.
        </p>
        <br/>
        <p class="text-white mb-0" data-i18n="[html]press_text_body3">
          The team managing the ‘Your COVID-19 Risk’ tool will compare the data internationally, providing advice to governments and health agencies on the best measures to take in their region. The more people that use the tool, the better the advice. This will enable governments and health agencies to keep improving their messages to the general public.
        </p>
        <br/>
        <p class="text-white mb-0" data-i18n="[html]press_text_body4">
          The international experts who created the tool ask everyone to participate. They collaborate with volunteers from 35 countries. The tool is available at <a target="_blank" href="https://your-covid-19-risk.com">https://your-covid-19-risk.com</a>.
        </p>
      </div>
    </div>
    <br/>
    <div class="row">
      <h4 class="col-lg-12 text-white mt-2" data-i18n="[html]press_text_note_header">Note for the editorial office</h4>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p class="text-white mb-0" data-i18n="[html]press_text_note_body">
          For more information, you can contact email: <a href="mailto:press@your-covid-19-risk.com">press@your-covid-19-risk.com</a>.
        </p>
      </div>
    </div>
  </div>
</section>